$primary: #B4DBFC; 
$secondary: #002561;
$success: #00ad5c;
$info: #7eb5be;
$warning: #ffc107;
$danger: #dc3545;
$light: #e0dede;
$light-light: #efeded;
$dark: #262626;
$white: #f5f5f5;
$secondary-subtle: var(--bs-secondary-border-subtle);


body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.custom-pagination .page-link {
    color: $secondary; 
    background-color: $primary; 
    border-color: $secondary-subtle; 
}

.custom-pagination .page-link:hover {
    color: $secondary; 
    background-color: $light; 
    border-color: $secondary-subtle; 
}

.custom-pagination .page-item.active .page-link {
    color: $primary; 
    background-color: $secondary; 
    border-color: $secondary-subtle; 
}

.custom-link{
    text-decoration: none; 
    color: inherit; 
    background-color: transparent; 
}

.custom-link-container:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-icon {
    font-size: 1.5rem;
    color: $secondary;
    transition: color 0.3s;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }

.custom-button {
    background-color: $light; 
    text-decoration: none;

    &.active {
      background-color: $info;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

.custom-text-link {
    color: $secondary;
    display: inline-block;
    padding: 0;
    margin: 0;
    transition: color 0.3s;
  }

.custom-text-link span {
  margin: 0; 
  padding: 0;
}

.custom-text-link:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.custom-breadcrumb {
  a {
    color: $secondary;
    transition: color 0.3s;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

#searchInput {
  border-color: $secondary-subtle;
  background-color: darken($white, 3%);
}

#searchInput:focus {
  border-color: $secondary;
  background-color: $white;
  box-shadow: 0 0 0 0.25rem rgba(0, 37, 97, 0.25);
}

#brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    text-decoration: underline;
  }

}


@import "../../node_modules/bootstrap/scss/bootstrap";


// $link-color: $secondary;
// $link-hover-color: $primary;

