.header {
  background-color: #b4dbfc;
  height: 110px;
  width: 1440px;
}

.header .overlap-group {
  height: 122px;
  position: relative;
  top: -5px;
}

.header .div {
  background-color: #b4dbfc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #262626;
  height: 110px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 1440px;
}

.header .text-wrapper {
  color: #002561;
  font-family: "JetBrains Mono-ExtraBold", Helvetica;
  font-size: 50px;
  font-weight: 800;
  height: 122px;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 318px;
}

.header .buttons {
  height: 60px;
  left: 1184px;
  position: absolute;
  top: 28px;
  width: 236px;
}

.header .search {
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #002561;
  border-radius: 50px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 44px;
  left: 484px;
  position: absolute;
  top: 38px;
  width: 473px;
}

.header .bi-search {
  height: 28px;
  left: 431px;
  position: absolute;
  top: 7px;
  width: 28px;
}

.header .text-wrapper-2 {
  color: #00256180;
  font-family: "JetBrains Mono-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  height: 20px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
}

